:root {
    --text-color: white;
    
    --bg-url: url(./img/bg-mobile-light.jpg);
    --dark-bg: #212529;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
   /* background: #0d0d0d;  */
   background: var(--bg-url) no-repeat top center/cover;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #eaeaea;
  }
  .container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(255, 105, 180, 0.1);
    text-align: center;
    max-width: 90%;
    width: 400px;
    z-index: 1;
    position: relative;
    color: #838181;
    background: #7c7c7c;
  } 
  .container {
      position: relative; /* garante que fique acima do fundo */
      z-index: 1; /* fica na frente */
      max-width: 500px;
      margin: 80px auto;
      background: rgb(252, 252, 252);
      padding: 40px;
      border-radius: 15px;
      text-align: center;
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    }

h1 {
    color: #ff0080;
  }

  p {
    color: #000000;
  }

.birthday-photo {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.message {
    margin: 20px 0;
    font-style: italic;
}

button {
    background-color: #8f4599;
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 16px;
    max-width: 100%;
}

  button:button:hover {
    background-color: #45a049;
}


#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; /* fundo */
    top: 0;
    left: 0;
}

  .photo-gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  
  .photo-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(255, 0, 128, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .photo-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(255, 105, 180, 0.4);
  }

    @media (min-width: 700px) {
    :root {
      --bg-url: url(/img/bg-desktop-light.jpg);
    }}
    .message-box {
        width: 90%;
        max-width: 500px;
        margin: 30px auto;
        background-color: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); /* sombra leve */
        display: none;
        text-align: center;
    }
    #revealedMessage {
        font-size: 18px;
        color: #222;
        line-height: 1.5;
        word-break: break-word;
    }